# =========================
# Environnement virtuel
# =========================
venv/
env/
.env

# =========================
# Données (Data lourde)
# =========================
# On ignore le contenu des sous-dossiers
data/raw/*
data/processed/*

# MAIS on force Git à garder ces fichiers spécifiques
!data/raw/.gitkeep
!data/processed/.gitkeep

# =========================
# Caches et fichiers temporaires Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Fichiers système (Mac/Windows)
# =========================
.DS_Store
Thumbs.db